{% set device = data["DcimDevice"]["edges"][0]["node"] %}
{% set location = device["location"]["node"] %}
! Managed by OtterNet SoT
! Site: {{ location.get("shortname", {}).get("value", "unknown") if location else "unknown" }}
!
hostname {{ device["name"]["value"] }}
fqdn {{ device["fqdn"]["value"] }}
!
{% if device.get("primary_address") and device["primary_address"].get("node") %}
{% set mgmt_ip = device["primary_address"]["node"]["address"]["value"].split("/")[0] %}
interface Management0
 ip address {{ mgmt_ip }} 255.255.255.0
 no shutdown
!
{% endif %}
{% for iface_edge in device["interfaces"]["edges"] %}
{% set iface = iface_edge["node"] %}
interface {{ iface["name"]["value"] }}
{% if iface.get("ip_addresses") and iface["ip_addresses"]["edges"] %}
{% set ip_entry = iface["ip_addresses"]["edges"][0]["node"]["address"]["value"] %}
 ip address {{ ip_entry.split("/")[0] }} 255.255.255.0
{% else %}
 no ip address
{% endif %}
 no shutdown
!
{% endfor %}
{% if location and location.get("bgp_asn", {}).get("value") %}
router bgp {{ location["bgp_asn"]["value"] }}
 bgp router-id {{ device["name"]["value"] }}
 bgp log-neighbor-changes
!
{% endif %}
end
